clip @ git+https://github.com/openai/CLIP.git
flash-attn==2.8.0.post2
einops
numpy
open-clip-torch
opencv-python
pillow
scipy==1.11.1
timm
tokenizers==0.21.2
torch
torchaudio
torchdata
torchmetrics
torchvision
tqdm
transformers
urllib3
xformers
streamlit-keyup
lpips
clean-fid
peft
dominate
diffusers
gradio
wandb
vision_aided_loss
